### eBird Occurrence of 11 bird species in the Southwest US centered on Utah
***Data from:***

GBIF | Global Biodiversity Information Facility: https://www.gbif.org/ 

Notebook by Zac Stanley for New Maps Plus - MAP674

#### Initialize python libraries

In [24]:
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt
import numpy as np

#### Read in text file as DataFrame - dataset is huge so I didn't upload to git

In [28]:
ebird_df = pd.read_csv("C:\\NewMapsPlus\\Map674\\ClassSourceData\\eBird\\Utah\\occurrence.csv")

#### Inspect the object type returned from read_csv()

In [26]:
type(ebird_df) # pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

# inspect the first fove rows of the dataset

In [27]:
ebird_df.head()

,gbifID,identifier,publisher,collectionCode,datasetName,basisOfRecord,occurrenceID,catalogNumber,recordNumber,recordedBy,...,protocol,lastParsed,lastCrawled,repatriated,level0Gid,level0Name,level1Gid,level1Name,level2Gid,level2Name
0,2660970930,OBS699478918,Cornell Lab of Ornithology,EBIRD,EOD - eBird Observation Dataset,HUMAN_OBSERVATION,URN:catalog:CLO:EBIRD:OBS699478918,OBS699478918,NaN,obsr1222431,...,DWC_ARCHIVE,11/27/2020 1:13,6/30/2020 1:20,False,USA,United States,USA.45_1,Utah,USA.45.25_1,Utah
1,2665361558,OBS711863979,Cornell Lab of Ornithology,EBIRD,EOD - eBird Observation Dataset,HUMAN_OBSERVATION,URN:catalog:CLO:EBIRD:OBS711863979,OBS711863979,NaN,obsr326514,...,DWC_ARCHIVE,11/27/2020 1:14,6/30/2020 1:20,False,USA,United States,USA.29_1,Nevada,USA.29.3_1,Clark
2,2699437779,OBS787147472,Cornell Lab of Ornithology,EBIRD,EOD - eBird Observation Dataset,HUMAN_OBSERVATION,URN:catalog:CLO:EBIRD:OBS787147472,OBS787147472,NaN,obsr363309,...,DWC_ARCHIVE,11/27/2020 1:15,6/30/2020 1:20,False,USA,United States,USA.29_1,Nevada,USA.29.3_1,Clark
3,2704471408,OBS797732031,Cornell Lab of Ornithology,EBIRD,EOD - eBird Observation Dataset,HUMAN_OBSERVATION,URN:catalog:CLO:EBIRD:OBS797732031,OBS797732031,NaN,obsr276984,...,DWC_ARCHIVE,11/27/2020 1:15,6/30/2020 1:20,False,USA,United States,USA.3_1,Arizona,USA.3.3_1,Coconino
4,2705880951,OBS801199492,Cornell Lab of Ornithology,EBIRD,EOD - eBird Observation Dataset,HUMAN_OBSERVATION,URN:catalog:CLO:EBIRD:OBS801199492,OBS801199492,NaN,obsr345759,...,DWC_ARCHIVE,11/27/2020 1:15,6/30/2020 1:20,False,USA,United States,USA.6_1,Colorado,USA.6.44_1,Montrose

In [5]:
# look at the columns - we only need a few of these - lat, lon, vernacular name, year etc.
ebird_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 62 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   gbifID                  1048575 non-null  int64
 1   identifier              1048575 non-null  object
 2   publisher               1048575 non-null  object
 3   collectionCode          1048575 non-null  object
 4   datasetName             1048575 non-null  object
 5   basisOfRecord           1048575 non-null  object
 6   occurrenceID            1048575 non-null  object
 7   catalogNumber           1048575 non-null  object
 8   recordNumber            0 non-null        float64
 9   recordedBy              1048575 non-null  object
 10  individualCount         1021167 non-null  float64
 11  occurrenceStatus        1048575 non-null  object
 12  eventDate               1048575 non-null  object
 13  year                    1048575 non-null  int64
 14  month                   1048575 non-null  int64
 15  day                     1048575 non-null  int64
 16  countryCode             1048575 non-null  object
 17  stateProvince           1048575 non-null  object
 18  county                  1048575 non-null  object
 19  locality                1048575 non-null  object
 20  decimalLatitude         1048575 non-null  float64
 21  decimalLongitude        1048575 non-null  float64
 22  acceptedNameUsageID     1048575 non-null  int64
 23  scientificName          1048575 non-null  object
 24  kingdom                 1048575 non-null  object
 25  phylum                  1048575 non-null  object
 26  class                   1048575 non-null  object
 27  order                   1048575 non-null  object
 28  family                  1048575 non-null  object
 29  genus                   1048575 non-null  object
 30  specificEpithet         1048573 non-null  object
 31  taxonRank               1048575 non-null  object
 32  vernacularName          1048575 non-null  object
 33  taxonomicStatus         1048575 non-null  object
 34  datasetKey              1048575 non-null  object
 35  publishingCountry       1048575 non-null  object
 36  lastInterpreted         1048575 non-null  object
 37  hasCoordinate           1048575 non-null  bool
 38  hasGeospatialIssues     1048575 non-null  bool
 39  taxonKey                1048575 non-null  int64
 40  acceptedTaxonKey        1048575 non-null  int64
 41  kingdomKey              1048575 non-null  int64
 42  phylumKey               1048575 non-null  int64
 43  classKey                1048575 non-null  int64
 44  orderKey                1048575 non-null  int64
 45  familyKey               1048575 non-null  int64
 46  genusKey                1048575 non-null  int64
 47  speciesKey              1048573 non-null  float64
 48  species                 1048573 non-null  object
 49  genericName             1048575 non-null  object
 50  acceptedScientificName  1048575 non-null  object
 51  verbatimScientificName  1048575 non-null  object
 52  protocol                1048575 non-null  object
 53  lastParsed              1048575 non-null  object
 54  lastCrawled             1048575 non-null  object
 55  repatriated             1048575 non-null  bool
 56  level0Gid               1048575 non-null  object
 57  level0Name              1048575 non-null  object
 58  level1Gid               1048575 non-null  object
 59  level1Name              1048575 non-null  object
 60  level2Gid               1048575 non-null  object
 61  level2Name              1048575 non-null  object
dtypes: bool(3), float64(5), int64(13), object(41)
memory usage: 475.0+ MB

In [6]:
ebird_df.drop(['gbifID','identifier','publisher','collectionCode', 'datasetName','basisOfRecord','occurrenceID', 'catalogNumber','recordNumber','recordedBy','eventDate','countryCode','acceptedNameUsageID','kingdom','phylum', 'class', 'order', 'family', 'genus','specificEpithet','taxonRank', 'taxonomicStatus', 'datasetKey', 'publishingCountry','lastInterpreted','hasCoordinate','hasGeospatialIssues','taxonKey', 'acceptedTaxonKey', 'kingdomKey','phylumKey','classKey','orderKey', 'familyKey','genusKey','speciesKey','species','genericName', 'acceptedScientificName', 'protocol', 'lastParsed','lastCrawled','repatriated', 'level0Gid', 'level0Name','level1Gid','level1Name','level2Gid','level2Name'
], axis=1,inplace=True)

In [7]:
# look at the columns - we only need a few of these - lat, lon, vernacular name, year etc.
ebird_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   individualCount         1021167 non-null  float64
 1   occurrenceStatus        1048575 non-null  object
 2   year                    1048575 non-null  int64
 3   month                   1048575 non-null  int64
 4   day                     1048575 non-null  int64
 5   stateProvince           1048575 non-null  object
 6   county                  1048575 non-null  object
 7   locality                1048575 non-null  object
 8   decimalLatitude         1048575 non-null  float64
 9   decimalLongitude        1048575 non-null  float64
 10  scientificName          1048575 non-null  object
 11  vernacularName          1048575 non-null  object
 12  verbatimScientificName  1048575 non-null  object
dtypes: float64(3), int64(3), object(7)
memory usage: 104.0+ MB

In [8]:
ebird_df.head()

,individualCount,occurrenceStatus,year,month,day,stateProvince,county,locality,decimalLatitude,decimalLongitude,scientificName,vernacularName,verbatimScientificName
0,1.0,PRESENT,2019,1,17,Utah,Utah,"867 E 2260 S, Provo US-UT (40.2036,-111.6432)",40.2036,-111.643,"Spatula cyanoptera (Vieillot, 1816)",Cinnamon Teal,Spatula cyanoptera
1,2.0,PRESENT,2019,2,16,Nevada,Clark,Las Vegas,36.1750,-115.137,"Passer domesticus (Linnaeus, 1758)",House Sparrow,Passer domesticus
2,3.0,PRESENT,2019,7,21,Nevada,Clark,Las Vegas Wash--Pabco Area,36.0877,-114.984,"Charadrius vociferus Linnaeus, 1758",Killdeer,Charadrius vociferus
3,3.0,PRESENT,2019,8,24,Arizona,Coconino,Frances Short Pond,35.2060,-111.655,"Corvus brachyrhynchos C.L.Brehm, 1822",American Crow,Corvus brachyrhynchos
4,1.0,PRESENT,2019,6,15,Colorado,Montrose,Delta Nucla Road--Tabeguache Basin,38.3663,-108.348,"Dryobates villosus (Linnaeus, 1766)",Hairy Woodpecker,Dryobates villosus

In [9]:
# There are way too many records for this dataset to be useful for us. I summarized the data in QGIS and took the average number of counted species
# Plus the five species with occurrences immediately greater and less than the average
# I need to select out that subset now
ebird_subset = ebird_df[(ebird_df['vernacularName'] == 'Wilson\'s Warbler') | (ebird_df['vernacularName'] == 'Bewick\'s Wren')
                        | (ebird_df['vernacularName'] == 'Vesper Sparrow') | (ebird_df['vernacularName'] == 'Loggerhead Shrike')
                        | (ebird_df['vernacularName'] == 'Canyon Wren') | (ebird_df['vernacularName'] == 'Northern Pintail')
                        | (ebird_df['vernacularName'] == 'Clark\'s Nutcracker') | (ebird_df['vernacularName'] == 'Savannah Sparrow')
                        | (ebird_df['vernacularName'] == 'Great Horned Owl') | (ebird_df['vernacularName'] == 'Juniper Titmouse')
                        | (ebird_df['vernacularName'] == 'MacGillivray\'s Warbler')
                       ]

In [10]:
ebird_subset.info() # 27,975 records is much more reasonable

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27975 entries, 24 to 1048556
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   individualCount         27514 non-null  float64
 1   occurrenceStatus        27975 non-null  object
 2   year                    27975 non-null  int64
 3   month                   27975 non-null  int64
 4   day                     27975 non-null  int64
 5   stateProvince           27975 non-null  object
 6   county                  27975 non-null  object
 7   locality                27975 non-null  object
 8   decimalLatitude         27975 non-null  float64
 9   decimalLongitude        27975 non-null  float64
 10  scientificName          27975 non-null  object
 11  vernacularName          27975 non-null  object
 12  verbatimScientificName  27975 non-null  object
dtypes: float64(3), int64(3), object(7)
memory usage: 3.0+ MB

In [11]:
ebird_subset.to_csv('./data/11birdspecies_southwest.csv')